apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: watch

resources:
  # - storage.yaml
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: grafana-datasources-config
    files:
      - datasource.yaml=configs/datasources.yaml
  - name: grafana-dashboards-config
    files:
      - dashboard.yaml=configs/dashboards.yaml
  - name: grafana-dashboards-infra-k8s
    files:
      - pods.json=configs/dashboards/infra/pods.json
      # - nodes_old.json=configs/dashboards/infra/nodes_old.json
      - nodes.json=configs/dashboards/infra/nodes.json
  - name: grafana-dashboards-infra-nas
    files:
      - nas.json=configs/dashboards/infra/nas.json
  - name: grafana-dashboards-infra-mikrotiks
    files:
      - mikrotiks.json=configs/dashboards/infra/mikrotiks.json
  - name: grafana-dashboards-root
    files:
      - air_quality.json=configs/dashboards/root/air_quality.json
