---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant
spec:
  selector:
    app: homeassistant
  ports:
  - name: homeassistant
    port: 8123
    targetPort: 8123
    protocol: TCP
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.middlewares: apps-ipwhitelist@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - homeassistant.thedrill.eu
    secretName: homeassistant-tls
  rules:
  - host: homeassistant.thedrill.eu
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: homeassistant
            port:
              number: 8123


